{% extends 'base.html' %}
{% load static %}
{% block title %}{% if title in single_blog %} {{ title.blog_title }} | Stackshosue Creative Studio Oficial{% endif %}{% endblock title %}
      <!--//================breadcrumb start==============//-->
      <section class="breadcamb-area">
         <div class="main_breadcamb positionR">
            <figure class="slider-image positionR">
               <img src="assets/img/bradcamb/banner1.png" alt=""/>
            </figure>
            <div class="breadcamb_content positionA text-center">
               <div class="container">
                  <div class="row">
                     <div class="all_heading positionR">
                        <h1>blog</h1>
                        <h2> <span>Our</span> Blog</h2>
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="#">Home</a></li>
                           <li class="breadcrumb-item active">Blog</li>
                        </ol>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--//================blog start=============//-->	
      <section id="blog-section" class="pad-top100 pad-bottom70 blog_fullwidth">
         <div class="container">
            <div class="row">
               <div class="all_heading positionR">
                  <h1>blog</h1>
                  <h2> <span>Our</span> Blog</h2>
               </div>
               <div class="col-md-9 col-sm-12 col-xs-12 pad-top50">
                  <div class="ourbackgound">
                     <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                           <figure class="blog_image_bottom  positionR">
                              <img src="assets/img/blog/blog11.jpg" alt="">
                           </figure>
                        </div>
                     </div>
                     <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                           <div class="our_blog blog_content">
                              <h3>Long Established</h3>
                              <span><a href="" class="blog_admin"><i class="fa fa-user" aria-hidden="true"></i> Admin</a></span>
                              <p>Lorem Ipsum is simply dummy text of the rinting and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever sincer they
                                 1500s. Nullam id condimentum purus. In non ex at ligula fringilla obortis. Ut et mauris auctor, aliquet nulla sed, aliquam mauris. Vestibulum sed
                                 malesuada dolor. Integer fringilla odio a dolor aliquet, eu euismod lectus porttitor. Proin et libero nec eros eleifend commodo Phasellus sodales
                                 volutpat diam, id sagittis purus egestas dapibus. Donec bibendum est quis mi commodo blandit.
                              </p>
                              <p>Maecenas pellentesque, massa vitae faucibus consectetur, ante magna gravida magna, ut venenatis massa augue et odio. Aliquam luctus viverra velit,
                                 non euismod ligula congue sed.Mauris nunc leo, sollicitudin a ligula ut, iaculis bibendum lorem. Duis gravida suscipit purus, at consequat diam sagittis
                                 sit amet. Mauris sed nisl vel urna egestas elementum eget quis ipsum.
                              </p>
                              <p>	Nulla a enim et justo facilisis ornare. Sed ante sem, dignissim a vehicula et, rutrum volutpat turpis. Praesent id leo lacinia, malesuada tortor ut, lobortis
                                 leo. Cras eget sollicitudin lorem. Etiam commodo ultricies luctus. Integer porttitor ligula eget quam blandit finibus. Suspendisse potenti. Nulla blandit
                                 augue orci, eget tristique massa fermentum sed. Duis ac maximus nulla, et pharetra turpis.
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--//================comment start=============//-->
                  <div class="comment_all">
                     <h4 class="recent_blog mar-bottom30 pad-top50">ALL COMMENTS</h4>
                     <div class="comment-box mar-bottom30">
                        <div class="row">
                           <div class="col-md-2 col-sm-3 col-xs-4">
                              <figure>
                                 <img src="assets/img/blog/comment1.jpg" alt="" class="img-circle">
                              </figure>
                           </div>
                           <div class="col-md-10 col-sm-9 text-left">
                              <div class="comment_content">
                                 <h4>John Doe <span class="colorG marL5"> 22 April - 2017</span></h4>
                                 <p>Lorem Ipsum is simply dummy text of the printing and etting industry orem Ipsum has been the industry's standard my text ever since they 1500s.
                                    the printing and etting industry orem Ipsum has been the industry's standard my text ever since they 1500s.
                                 </p>
                                 <p><a href="#" class="title"><i class="fa fa-reply mar-right5" aria-hidden="true"></i>reply</a></p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="comment-box mar-bottom30 pad-left60">
                        <div class="row">
                           <div class="col-md-2 col-sm-3 col-xs-4">
                              <figure>
                                 <img src="assets/img/blog/comment2.jpg" alt="" class="img-circle">
                              </figure>
                           </div>
                           <div class="col-md-10 col-sm-9 text-left">
                              <div class="comment_content">
                                 <h4>John Doe <span class="colorG marL5"> 22 April - 2017</span></h4>
                                 <p>Lorem Ipsum is simply dummy text of the printing and etting industry orem Ipsum has been the industry's standard my text ever since they 1500s.
                                    the printing and etting industry orem Ipsum has been the industry's standard my text ever since they 1500s.
                                 </p>
                                 <p><a href="#" class="title"><i class="fa fa-reply mar-right5" aria-hidden="true"></i>reply</a></p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="comment-box mar-bottom30">
                        <div class="row">
                           <div class="col-md-2 col-sm-3 col-xs-4">
                              <figure>
                                 <img src="assets/img/blog/comment3.jpg" alt="" class="img-circle">
                              </figure>
                           </div>
                           <div class="col-md-10 col-sm-9 text-left">
                              <div class="comment_content">
                                 <h4>John Doe <span class="colorG marL5"> 22 April - 2017</span></h4>
                                 <p>Lorem Ipsum is simply dummy text of the printing and etting industry orem Ipsum has been the industry's standard my text ever since they 1500s.
                                    the printing and etting industry orem Ipsum has been the industry's standard my text ever since they 1500s.
                                 </p>
                                 <p><a href="#" class="title"><i class="fa fa-reply mar-right5" aria-hidden="true"></i>reply</a></p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="comment-box mar-bottom30 pad-left60">
                        <div class="row">
                           <div class="col-md-2 col-sm-3 col-xs-4">
                              <figure>
                                 <img src="assets/img/blog/comment4.jpg" alt="" class="img-circle">
                              </figure>
                           </div>
                           <div class="col-md-10 col-sm-9 text-left">
                              <div class="comment_content">
                                 <h4>John Doe <span class="colorG marL5"> 22 April - 2017</span></h4>
                                 <p>Lorem Ipsum is simply dummy text of the printing and etting industry orem Ipsum has been the industry's standard my text ever since they 1500s.
                                    the printing and etting industry orem Ipsum has been the industry's standard my text ever since they 1500s.
                                 </p>
                                 <p><a href="#" class="title"><i class="fa fa-reply mar-right5" aria-hidden="true"></i>reply</a></p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--//================comment contact start=============//-->
                  <div class="comment-review">
                     <h4 class="recent_blog mar-bottom30 pad-top50">Post A Comment</h4>
                     <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12 mar-bottom30">
                           <input type="text" placeholder="name">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 mar-bottom30">
                           <input type="text" placeholder="Email">
                        </div>
                        <div class="col-md-4 col-sm-4 col-xs-12 mar-bottom30">
                           <input type="text" placeholder="Website (url)">
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 mar-bottom30">
                           <textarea  placeholder="Website (url)"></textarea>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12 mar-bottom30">
                           <button type="submit" class="itg-button">Post comment</button>
                        </div>
                     </div>
                  </div>
               </div>
               <!--//================sidebar start=============//-->				
               <div class="col-md-3 col-sm-6 col-xs-12 pad-top50">
                  <div class="row">
                     <div class="sidebar">
                        <div class="col-xs-12">
                           <div class="search mar-bottom30 positionR">
                              <input type="text" name="search" placeholder="search..">
                              <button type="submit">
                              <i class="fa fa-search" aria-hidden="true"></i>
                              </button>
                           </div>
                        </div>
                        <div class="col-xs-12 mar-bottom20">
                           <h4 class="recent_blog mar-bottom20">Recent Posts</h4>
                           <div class="row">
                              <div class="our_recent_blog mar-bottom10">
                                 <div class="col-md-4 col-xs-4">
                                    <figure class="recent_img positionR">
                                       <img src="assets/img/blog/recblog1.jpg" alt="">
                                    </figure>
                                 </div>
                                 <div class="col-md-8 col-xs-8 pad">
                                    <div class="recent_content text-left">
                                       <h5><a href="">Cinemato Grapher</a></h5>
                                       <p>Lorem Ipsum dummy text printing andtext printing.</p>
                                       <a href="">Read more</a>
                                    </div>
                                 </div>
                              </div>
                              <div class="our_recent_blog mar-bottom10">
                                 <div class="col-md-4 col-xs-4">
                                    <figure class="recent_img positionR">
                                       <img src="assets/img/blog/recblog2.jpg" alt="">
                                    </figure>
                                 </div>
                                 <div class="col-md-8 col-xs-8 pad">
                                    <div class="recent_content text-left">
                                       <h5><a href="">Cinemato Grapher</a></h5>
                                       <p>Lorem Ipsum dummy text printing andtext printing.</p>
                                       <a href="">Read more</a>
                                    </div>
                                 </div>
                              </div>
                              <div class="our_recent_blog mar-bottom10">
                                 <div class="col-md-4 col-xs-4">
                                    <figure class="recent_img positionR">
                                       <img src="assets/img/blog/recblog3.jpg" alt="">
                                    </figure>
                                 </div>
                                 <div class="col-md-8 col-xs-8 pad">
                                    <div class="recent_content text-left">
                                       <h5><a href="">Cinemato Grapher</a></h5>
                                       <p>Lorem Ipsum dummy text printing andtext printing.</p>
                                       <a href="">Read more</a>
                                    </div>
                                 </div>
                              </div>
                              <div class="our_recent_blog mar-bottom10">
                                 <div class="col-md-4 col-xs-4">
                                    <figure class="recent_img positionR">
                                       <img src="assets/img/blog/recblog4.jpg" alt="">
                                    </figure>
                                 </div>
                                 <div class="col-md-8 col-xs-8 pad">
                                    <div class="recent_content text-left">
                                       <h5><a href="">Cinemato Grapher</a></h5>
                                       <p>Lorem Ipsum dummy text printing andtext printing.</p>
                                       <a href="">Read more</a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-md-12 mar-bottom20">
                           <h4 class="recent_blog mar-bottom20">Mailing List</h4>
                           <p class="mailing_list mar-bottom20 text-left">Sign up for our mailing list to get latest updates and offers.</p>
                           <div class="search mar-bottom30 positionR">
                              <input type="text" name="search" placeholder="search..">
                              <button type="submit">
                              <i class="fa fa-paper-plane" aria-hidden="true"></i>
                              </button>
                           </div>
                        </div>
                        <div class="col-xs-12 mar-bottom20">
                           <h4 class="recent_blog mar-bottom20">Categories</h4>
                           <ul class="categori">
                              <li><a href=""><i class="fa fa-angle-double-right mar-right10" aria-hidden="true"></i>Blog</a></li>
                              <li><a href=""><i class="fa fa-angle-double-right mar-right10" aria-hidden="true"></i>Gallery</a></li>
                              <li><a href=""><i class="fa fa-angle-double-right mar-right10" aria-hidden="true"></i>About</a></li>
                              <li><a href=""><i class="fa fa-angle-double-right mar-right10" aria-hidden="true"></i>Service</a></li>
                              <li><a href=""><i class="fa fa-angle-double-right mar-right10" aria-hidden="true"></i>Contact Us</a></li>
                           </ul>
                        </div>
                        <div class="col-xs-12">
                           <h4 class="recent_blog mar-bottom30">Popular Tags</h4>
                           <div class="tag_list">
                              <a href="">Blog</a>
                              <a href="">Gallery</a>
                              <a href="">About</a>
                              <a href="">Service</a>
                              <a href="">Contact Us</a>
                              <a href="">Seo</a>	
                              <a href="">House</a>	
                              <a href="">Baby</a>	
                              <a href="">Teacher</a>			
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--//================blog end=============//-->
