{% extends 'base.html' %}
{% load static %}
{% block title %} Contact Us - Official Stackshouse Creative Studio{% endblock title %}
{% block sitecontent %}
        <!--//================breadcrumb start==============//-->
        <section class="breadcamb-area">
            <div class="main_breadcamb positionR">
                <figure class="slider-image positionR">
                    <img src="{% static 'assets/img/bradcamb/banner4.png' %}" alt=""/>
                </figure>
                <div class="breadcamb_content positionA text-center">
                    <div class="container">
                        <div class="row">
                            <div class="all_heading positionR">
                                <h1>contact</h1>
                                <h2> <span>Our</span> Contact</h2>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
                                    <li class="breadcrumb-item active">Contact</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--//================contact start=============//-->	
        <section id="contact_layout" class="pad-top100">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="address_contact">
                            <h4 class="mar-bottom20">Detail</h4>
                            <ul>
                                <li class="mar-bottom20"><i class="fa fa-map-marker" aria-hidden="true"></i><span> PO Box 16122 Collin</span></li>
                                <li class="mar-bottom20"><i class="fa fa-phone" aria-hidden="true"></i><span>+168.456.777</span></li>
                                <li class="mar-bottom20"><i class="fa fa-envelope" aria-hidden="true"></i><span>Info@cinemato.ocom</span></li>
                                <li class="mar-bottom20"><i class="fa fa-skype" aria-hidden="true"></i><span>Skype@cinemato.com</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9 col-sm-9 col-xs-12 mar-bottom30">
                        <div class="contact_field">
                            <h4 class="mar-bottom20">Leave your message</h4>
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12 mar-bottom30">
                                    <input type="text" name="name" placeholder="Name">
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 mar-bottom30">
                                    <input type="text" name="Email" placeholder="Email">
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12 mar-bottom30">
                                    <input type="text" name="contact" placeholder="Contact No.">
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 mar-bottom30">
                                    <textarea name="name" placeholder="name"></textarea>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 mar-bottom30">
                                    <button type="submit" class="itg-button">Send message</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--//================contact end=============//-->
{% endblock sitecontent %}