{% extends 'base.html' %}
{% load static %}
{% block title %}ShowReel | Official StacksHouse Creative Studio {% endblock title %}
{% block sitecontent %}
      <!--//================breadcrumb start==============//-->
      <section class="breadcamb-area">
         <div class="main_breadcamb positionR">
            <figure class="slider-image positionR">
               <img src="{% static 'assets/img/bradcamb/banner6.png' %}" alt=""/>
            </figure>
            <div class="breadcamb_content positionA text-center">
               <div class="container">
                  <div class="row">
                     <div class="all_heading positionR">
                        <h1>our work</h1>
                        <h2> <span>Gallery</span></h2>
                        <ol class="breadcrumb">
                           <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
                           <li class="breadcrumb-item active">Gallery</li>
                        </ol>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--//================gallery start=============//-->	
      <section id="gallery-section" class="pad-top100 pad-bottom70 grid-gallery">
         <div class="container">
            <div class="row">
               <div class="all_heading positionR">
                  <h1> portfolio </h1>
                  <h2> <span>Photo</span> Gallery</h2>
               </div>
               <div class="mixitup-btn mixitup_content col-xs-12 marB30">
                  <a class="filter"  data-filter="all">ALL</a>
                  {% for category in category %}
                  <a class="filter"  data-filter=".{{ category.video_category }}">{{ category.video_category|upper }}</a>
                  {% endfor %}

               </div>
            </div>
         </div>
         <div class="container-fluid">
         <div class="row">
         <div class="gallery mar-top20 grid positionR" id="mixItUp">
            <div class="container-fluid">
                 {% for video in showreel %}
                 <div class="col-md-4 col-sm-4 col-xs-12 mar-bottom30 mix {{ video.select_category }}">
                     <div class="gallery_image">
                        <figure class="positionR">
                            <iframe width="395" height="296" src="https://www.youtube.com/embed/{{ video.video_id }}" frameborder="0" allowfullscreen></iframe>
                        </figure>
                      </div>
                  </div>
                 {% endfor %}
            </div>
         </div>
       </div>
       </div>
      </section>
      <!--//================gallery end=============//-->
{% endblock sitecontent %}